<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="ubrant-ids" major-id="@MajorID" minor-id="@MinorID" section-id="@SectionID" page-id="@PageID" />
    <title>@PageTitle</title>
    <link rel="stylesheet" href="@CSSBootstrapFileURL" />
    <link rel="stylesheet" href="@CSSSiteStylesFileURL" />
</head>

<body class="bg-light">
    <header class="bd-header bg-dark py-3 align-items-stretch border-bottom border-dark">
        <div class="container-fluid d-flex align-items-center">
            <h6 class="d-flex align-items-center fs-4 text-white mb-0">
                Ubrant - Reference
            </h6>
        </div>
    </header>

    <aside class="ub-aside col-4 float-left sticky-top text-muted align-self-start mb-3 px-2">
        <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Documents</h2>
        <nav class="small" id="toc">
            <ul class="list-unstyled list-majors">
                @MajorListItems
            </ul>
        </nav>
    </aside>
    <div class="container-fluid">
        <div class="row">
            <div class="ub-data col-12 container-fluid bg-body">
                <section>
                    @Content
                </section>
            </div>
        </div>
    </div>
    <script src="@JSjQueryFileURL"></script>
    <script src="@JSBootstrapFileURL"></script>
    <script src="@JSSiteScriptFileURL"></script>
</body>

</html>