body {
    scroll-behavior: smooth;
  }
  
  /* Table of contents */
  .ub-aside a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.5rem;
    color: rgba(0, 0, 0, .65);
    text-decoration: none;
  }
  
  .ub-aside a:hover,
  .ub-aside a:focus {
    color: rgba(0, 0, 0, .85);
    background-color: rgba(121, 82, 179, .1);
  }
  
  .ub-aside .active {
    font-weight: 600;
    color: rgba(0, 0, 0, .85);
  }
  
  .ub-aside .btn {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    border: 0;
  }
  
  .ub-aside .btn:hover,
  .ub-aside .btn:focus {
    color: rgba(0, 0, 0, .85);
    background-color: rgba(121, 82, 179, .1);
  }
  
  .ub-aside .btn:focus {
    box-shadow: 0 0 0 1px rgba(173, 136, 230, 0.7);
  }
  
  .ub-aside .btn::before {
    width: 2em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
  
    /* rtl:raw:
    transform: rotate(180deg) translateX(-2px);
    */
    transform-origin: 1em 50%;
  }
  
  .ub-aside .btn[aria-expanded="true"]::before {
    transform: rotate(90deg)/* rtl:ignore */;
  }

  .ub-aside a.focus {
    text-decoration: underline rgb(21, 12, 29);
    font-style: italic;
    font-weight: 700;
    font-size: small;
    color: rgb(19, 8, 8);
  }

.boldfaced {
  font-weight: 700;
}
.italicized {
  font-style: italic;
}
.link {
    text-decoration: none;
    font-style: normal;
    font-size: medium;
    font-weight: 600;
    color: rgb(151 23 126);
}
    .link:hover {
        text-decoration: none;
        font-style: italic;
        font-weight: 700;
        color: rgb(96 11 79);
    }

.list-majors {
  margin-left: 0.0em;
}
.list-minors {
  margin-left: 2em;
}
.list-sections {
  margin-left: 2em;
}
.list-pages {
  margin-left: 2em;
}

.list-group {
  margin-bottom: 2em;
}

.figure {
  margin-bottom: 2.2em;
}

.card .form-check {
  margin-left: 4.0em;
}

.card-img-top {
  max-height: 15em;
  max-width: min-content;
  align-self: center;
}

  /* Site */
  .scrollspy-docs {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
  }
  
  [id="modal"] .ub-docs .btn,
  [id="buttons"] .ub-docs .btn,
  [id="tooltips"] .ub-docs .btn,
  [id="popovers"] .ub-docs .btn,
  [id="dropdowns"] .ub-docs .btn-group,
  [id="dropdowns"] .ub-docs .dropdown,
  [id="dropdowns"] .ub-docs .dropup,
  [id="dropdowns"] .ub-docs .dropend,
  [id="dropdowns"] .ub-docs .dropstart {
    margin: 0 1rem 1rem 0;
  }

  .ub-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
  }
