<div class="card">
    <div class="card-header">Question (Difficulty: @Difficulty)</div>
    <div class="card-body">
        <p class="card-text">@Text</p>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="optA">
        <label class="form-check-label" for="optA">
            @OptA
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="optB">
        <label class="form-check-label" for="optB">
            @OptB
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="optC">
        <label class="form-check-label" for="optC">
            @OptC
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="optD">
        <label class="form-check-label" for="optD">
            @OptD
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="optE">
        <label class="form-check-label" for="optE">
            @OptE
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="optF">
        <label class="form-check-label" for="optF">
            @OptF
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="optG">
        <label class="form-check-label" for="optG">
            @OptG
        </label>
    </div>
    <div class="card-body">
        <p class="card-text">Attempts: @Attempts</p>
        <p class="card-text">Answer: @Answer</p>
        <p class="card-text">Explanation: @Explanation</p>
    </div>
</div>